* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary: #4f46e5;
    --bg: #f3f4f6;
    --card-bg: #ffffff;
    --sec: #6b7280;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--bg);
    color: #1f2937;
    line-height: 1.6;
}

.main-header {
    background: var(--card-bg);
    padding: 1.2rem 2rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 850;
    font-size: 1.6rem;
    color: var(--primary);
    letter-spacing: -1px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

nav a {
    text-decoration: none;
    color: var(--sec);
    font-weight: 600;
    transition: 0.2s;
}

nav a:hover,
nav a.active {
    color: var(--primary);
}

.content {
    max-width: 900px;
    margin: 0 auto;
    padding: 4rem 1.5rem;
}

.hero-section {
    text-align: center;
    margin-bottom: 3.5rem;
}

.hero-section h1 {
    font-size: 3rem;
    font-weight: 850;
    color: #111827;
    margin-bottom: 0.5rem;
}

.search-container {
    background: var(--card-bg);
    padding: 0.6rem;
    border-radius: 50px;
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1);
    display: flex;
    border: 1px solid #e5e7eb;
}

input {
    flex: 1;
    padding: 14px 28px;
    border: none;
    outline: none;
    font-size: 1.1rem;
    background: transparent;
}

button {
    background: var(--primary);
    color: #fff;
    border: none;
    padding: 14px 32px;
    border-radius: 40px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    filter: brightness(1.1);
    transform: translateY(-1px);
}

.card,
.chart-container {
    background: var(--card-bg);
    border-radius: 28px;
    padding: 2.5rem;
    margin-top: 2.5rem;
    border: 1px solid #e5e7eb;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.05);
}

.chart-container {
    width: 100%;
}

#map {
    width: 100% !important;
    height: 400px !important;
    z-index: 1;
    /* Чтобы не перекрывало выпадающие списки */
    cursor: crosshair;
}

.chart-desc {
    font-size: 1.1rem;
    color: #111827;
    margin-bottom: 2rem;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.suggestions-list {
    background: var(--card-bg);
    border-radius: 20px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    border: 1px solid #e5e7eb;
    overflow: hidden;
}

.suggestion-item {
    padding: 15px 25px;
    cursor: pointer;
    border-bottom: 1px solid #f3f4f6;
    font-weight: 500;
}

.suggestion-item:hover {
    background: #f9fafb;
    color: var(--primary);
}

.hidden {
    display: none !important;
}

canvas {
    max-width: 100% !important;
}